/* Eagleplayer V2.05 Configuration-File */

*Menufont "" 0
*Modulesfont "" 0
*Scrollfont "" 0
CX_Popup yes
Iconify no
PubScreen ""
CX_Popkey "ctrl alt e"
CX_Priority 0
LoadModule "SYS:Programs/Eagleplayer/"
*SubSong 0
LoadPlayerDir "Eagleplayers/"
LoadEngine "14_Bit_Amplifier" 
LoadEngine "8_Bit_Amplifier" 
LoadEngine "AHI_Amplifier" 
LoadEngine "AmplifierManager" 
LoadGui "BifatGUI" 260 111 1 24379481 117440512 0 
LoadEngine "DirListViewer" 
LoadEngine "EagleAMPGui" 
LoadEngine "EagleAMPGui.FPU" 
LoadEngine "Eagleexotic" 
LoadEngine "Eagleplayer1x-GUI" 
LoadEngine "Eagleripper" 
LoadEngine "EMPYGui" 
LoadEngine "EMPYGui24" 
LoadEngine "ExampleScope" 
LoadEngine "Extractor" 
LoadEngine "FFT-Analyzer" 
LoadEngine "Formatloader" 
LoadEngine "Levelgraph" 
LoadEngine "Levelmeter" 
LoadEngine "Manager" 
LoadEngine "Messagewindow" 
LoadEngine "Moduleinfo" 
LoadEngine "Noiseconverter" 
LoadEngine "Patternscroll" 
LoadEngine "Patternscroll++" 
LoadEngine "Playerloader" 
LoadEngine "Publicscreenselector" 
LoadEngine "Pysion" 
LoadEngine "Quadrascope" 
LoadEngine "RaveScope" 
LoadEngine "Samplesaver" 
LoadEngine "SpaceScope+" 
LoadEngine "Stereoscope" 
LoadEngine "Time" 
LoadEngine "Toccata-Amplifier" 
LoadEngineDir "Engines/"
LoadPlayerDir "Eagleplayers/"
LoadPlayer "MED"
LoadPlayer "OctaMED"
QuickStart yes
ScrollInfos yes
SongName no
Filter no
Mastervolume no
SaveT yes
FadeIn yes
FadeOut yes
QuitEagle yes
EjectPlayers no
EjectEngines no
PlayerBatch yes
Prefix no
LoadFast yes
LoadDir yes
EPDir no
HideAll yes
Notify no
Scanalways no
ProgramMode 0
Loadbefore no
Randomsong no
AutosubSong no
Loadalways no
SongEnd yes
CalcDuration yes
Dirjump no
Randomstart no
Timemode no
Timeout 0
Mintimeout 0
Crunchmode 0
SaveDir ""
SSDir no
SafeSave no
Samplemode no
SaveAsProtracker no
Protect no
PBits no
XPKPackmethod "SQSH"
Overwrite no
Automaticsave no
Password ""
Timingmode 2
Waitingmode 0
Rasterlines 8
DBFLoops 400
Allocchannels yes
SoftInt yes
Autopassword no
XFDDecrunch no
XFDLoadSeg no
Volume 255
Balance 0
Speed 0
SmallModule no
BigModule no
ModuleFault yes
Filerequestermode 1
Iconifymode 0
ChipRamAmplifier 0 1
FastRamAmplifier 0 1
NoGui no
ExtractFirstModule no
Instruments "ST-01:"
Loadlist ""
Screenmode ""
