*
*-- Extractor-Configuration --*
*

.arj
Off
Arj
x "%1" "%2" "%3"

.ha
On
Ha
e "%1" "%2"

.LHA
On
LHA
-N e "%1" "%2" "%3"

.LZH
On
LHA
-N e "%1" "%2" "%3"

.LZX
On
LZX
x "%1" "%2" "%3"

.rar
On
UnRar
e "%1" "%2"

.Shr
On
Shrink
x "%1" "%3" "%2"

.Zip
On
Unzip
-x -o "%1" "%2"

.zoo
On
zoo
-e "%1" "%2"

